In [ ]:
##print form 0 to n-1

In [3]:
n=int(input())
for i in range (n+1):
    print(i)

5
0
1
2
3
4
5

In [ ]:
## print number divisble by 3

In [4]:
a=int(input())
b=int(input())
if a%3==0:
    a=a
elif a%3==1:
    a=a+2
else:
    a=a+1
for i in range (a,b,3):
    print(i)

10
100
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [ ]:
## Check if number is Prime

In [8]:
n=int(input())
flag=False
for i in  range(2,n,1):
    if n%i==0:
        flag=True
if flag:
    print('not prime')

6
not prime

In [ ]:
##Pattern using for

   1
  232
 34543
4567654

In [9]:
n=int(input())
for i in range(1,n+1,1):
    for s in range(n-i):##space
        print(' ',end='')
    for j in range(i,2*i,1):##increasing
        print(j,end='')
    for d in range(2*i-2,i-1,-1):
        print(d,end='')
    print()

4
   1
  232
 34543
4567654

In [ ]:
##print all prime no. from 2 to n using break

In [16]:
n=int(input())
i=2

while(i<n):
    j=2
    flag=False
    while(j<i):
        if i%j==0:
            flag=True 
            break
        j=j+1
    if flag==False:
        print(i)
    i=i+1

10
2
3
5
7

In [ ]:
## pattern
1111
000
11
0

In [17]:
n=int(input())
i=0
while(i<n):
    j=1
    if i%2==0:
        while(j<=n-i):
            print(1,end='')
            j=j+1
    else:
        while(j<=n-i):
            print(0,end='')
            j=j+1
    print()
    i=i+1

4
1111
000
11
0

In [19]:
### using for loop

n=int(input())

for i in range (n):
    if i%2==0:
        for one in range (n-i):
            print(1,end='')
    else:
        for zero in range(n-i):
            print(0,end='')
    print()

4
1111
000
11
0

In [ ]:
123456
 23456
  3456
   456
    56
     6            ####pattern
    56
   456
  3456
 23456
123456

In [38]:
n=int(input())
for i in range(1,n+1):
    
    for space in range(1,i):
        print(' ',end='')
        
        
    for j in range(i,n+1):
        print(j,end='')
        
    print()
for i in range(1,n):
    for space in range(n-i-1,0,-1):
        print(' ',end='')
    for j in range(n-i,n+1):
        print(j,end='')
    print()

7
1234567
 234567
  34567
   4567
    567
     67
      7
     67
    567
   4567
  34567
 234567
1234567

In [ ]:
  *
 ***
*****
 ***
  *

In [41]:
n=int(input())
if n%2==0:
    print("Invalid input")
else:
    mid=n//2+1
    for i in range(1,mid+1):
        for space in range(mid-i,0,-1):
            print(' ',end='')
        for star in range(0,2*i-1):
            print('*',end='')
        print()
    for i in range(1,n-mid+1):
        for space in range(i):
            print(' ',end='')
        for star in range(n-2*i,0,-1):
            print('*',end='')
        print()

5
  *
 ***
*****
 ***
  *

In [ ]:
#print                      N=4
                        

                            4444444
                            4333334
                            4322234
                            4321234
                            4322234
                            4333334  
                            4444444
                            
                            
 N=3                             
33333
32223                        
32123
32223
33333

In [11]:

n=int(input())
end=2*n-1
for i in range(0,end//2+1):
    m=n
    #decreasing pattern
    for j in range(0,i):
        print(m,end='')
        m -=1
    #constant pattern
    for k in range(0,end-2*i):
        print(n-i,end='')
    #increasing pattern
    m=n-i+1
    for l in range(0,i):
        print(m,end='')
        m+=1
    print()
for i in range (0,end//2):
    m=n
    size=(end//2)-i-1
    #decrementing pattern
    for j in range(0,size):
        print(m,end='')
        m-=1
    
    #constant
    const=n-size
    for j in range(0,end-2*size):
        print(const,end='')
    #incrementing
    m=const+1
    for l in range (0,size):
        print(m,end='')
        m+=1
    print()

5
555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

In [ ]:
###Print
1    2   3    4   5
11   12  13   14  15
21   22  23   24  25
16   17  18   19  20
6    7    8   9   10

In [22]:
n=int(input())
for i in range(0,n,2):
    m=n*i+1
    for j in range(0,n):
        
        print(m,end='   ')
        m+=1
    print()
if n%2==0:
    dec=1
else:
    dec=2
for i in range(n-dec,0,-2):
    m=n*i+1
    for j in range(0,n):
        print(m,end='   ')
        m+=1
    print()

5
1   2   3   4   5
11   12   13   14   15
21   22   23   24   25
16   17   18   19   20
6   7   8   9   10